@charset "UTF-8";
.title {
    text-align: center;
}
.chat-content {
    width: 500px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px;
}
.message {
    width: 400px;
    height : 35px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
}

.message input {
    width: 300px;
    border-style: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size : 18px;
}

.message input:focus{
    outline: none;
}
.message button {
    border: none;
    background : none;
}
.message button img {
    width: 30px;
    height: 30px;
}

.btn {
    padding: 20px;
    text-align: center;
}

.btn button {
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #A8A81F;
}
.btn button:last-child {
    background-color: #b2f2bb;
}

.btn button:last-child:hover {
    background-color: #11d17b;
}

.my-msg{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.me, .receiver-name{
	width: 100px;
	height : 20x;
	background-color: #b2f2bb;
	text-align: center;
	border-radius: 10px;
}

.not-my-msg{
	width: 100%;
	display: flex;
	gap: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}