<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.estate.model.mapper.EstateMapper">
	<resultMap type="Estate" id="estResultMap">
		<id 	property="estateNo" 			column="ESTATE_NO"/>
		<result property="estateType" 			column="ESTATE_TYPE"/>
		<result property="estateAddress" 		column="ESTATE_ADDRESS"/>
		<result property="estateFloor" 			column="ESTATE_FLOOR"/>
		<result property="estateWidth" 			column="ESTATE_WIDTH"/>
		<result property="estateMoveinDate" 	column="ESTATE_MOVEIN_DATE"/>
		<result property="moveinNowYN" 			column="MOVEIN_NOW_YN"/>
		<result property="estateRentType" 		column="ESTATE_RENT_TYPE"/>
		<result property="estateDeposit" 		column="ESTATE_DEPOSIT"/>
		<result property="estateMonthlyRent" 	column="ESTATE_MONTHLY_RENT"/>
		<result property="userId" 				column="USER_ID"/>
		<result property="userPhone" 			column="USER_PHONE"/>
  		<!-- 이미지 리스트 -->
   		<collection property="estateFileList"
  					select="selectFileList"
  					column="ESTATE_NO"
  					javaType="java.util.List"></collection>
  		<!-- 옵션 리스트 -->
  		<collection property="estateOptionList"
  					select="selectOptionList"
  					column="ESTATE_NO"
  					javaType="java.util.List"></collection>
  	</resultMap>
    <select id="selectEstateList" resultType="com.house.jachui.estate.model.vo.Estate">
        SELECT * FROM ESTATE 
        ORDER BY ESTATE_NO DESC
    </select>
    
	<select id="selectFileList" resultType="com.house.jachui.estate.model.vo.EstateFile">
    	SELECT * FROM ESTATE_FILE
    	WHERE ESTATE_NO = #{estateNo}
    </select>
    
    <select id="selectOptionList" resultType="com.house.jachui.estate.model.vo.EstateOption">
    	SELECT * FROM ESTATE_OPTION O 
    	JOIN OPTION_LIST L 
    	ON O.OPTION_NO = L.OPTION_NO
    	WHERE ESTATE_NO = #{estateNo}
    </select>
    <select id="selectOneByNo" resultMap="estResultMap">
	  	SELECT 
	    *
	  	FROM ESTATE E
	  	JOIN MEMBER M ON E.USER_ID = M.USER_ID
	  	WHERE E.ESTATE_NO = #{estateNo}
	</select>
	<insert id="insertEstate" parameterType="Estate">
	    <selectKey keyProperty="estateNo" resultType="_int" order="BEFORE">
	        SELECT SEQ_ESTATE_NO.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO estate (
	        estate_no, estate_rent_type, estate_deposit, estate_monthly_rent, 
	        estate_address, estate_type, estate_width, estate_floor, 
	        movein_now_yn, estate_movein_date, user_id
	    ) VALUES (
	        #{estateNo}, #{estateRentType}, #{estateDeposit},
	        <choose>
	            <when test='estateRentType == "charter"'>NULL</when>
	            <otherwise>#{estateMonthlyRent}</otherwise>
	        </choose>,
	        #{estateAddress}, #{estateType}, #{estateWidth}, #{estateFloor}, default,
	        <choose>
	            <when test='moveinNowYN == "Y"'>NULL</when>
	            <otherwise>#{estateMoveinDate}</otherwise>
	        </choose>,
	       	#{userId}
	    )
	</insert>
</mapper>