@charset "UTF-8";
.main{
    margin: 0 auto;
    text-align: center;
    background-color: #FFF9E9;
    height:650px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin: 5% auto; */
    /* background-color: #FFFBF0; */
    /* padding-top: 100px; */
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
    margin-top: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.form-group input {
    width: 97.5%;
    padding: 10px;
    border: 1px solid #c0baba;
    border-radius: 5px;
}
  
.btn{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #eee;
    width: 80px;
    background-color: #FFA37C;
}

.searchplace{
    padding: 5px;
    width: 300px;
    border-radius: 15px;
    background-color: #B68973;
    border: 1px solid #eee;
}
.boardtbl{
    margin: 0 auto;
    margin-top: 5px;
    border-collapse: collapse;
}

.boardtbl th, tr, td{
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}